In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
Q1 = pd.read_csv('2007Q1_Base.csv', index_col = 0)
Q1.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,73,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,168,169,170,171,172,173,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,197,198,200,202,204,206,208,210,211,212,213,222,224,226,228,230,232,234,236) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2006Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,420060826338
1,2007Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120070000682
2,2007Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120070000554
3,2007Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120070000657
4,2007Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120070000595

In [3]:
Q2 = pd.read_csv('2007Q2_Base.csv', index_col = 0)
Q2.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,67,68,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,107,110,113,116,119,122,125,128,131,134,168,169,170,171,172,173,174,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,198,200,202,204,206,208,210,211,212,213,222,224,226,228,230,232,234) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2007Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,1.000000e+10,NaN,2,220070000038
1,2007Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,220070001095
2,2007Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,220070000672
3,2007Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,220070000905
4,2007Q2,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,220070000713

In [4]:
Q3 = pd.read_csv('2007Q3_Base.csv', index_col = 0)
Q3.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,26,27,29,30,67,68,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,107,110,113,116,119,122,168,169,170,171,172,173,174,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,198,200,202,204,206,210,211,212,213,222,224,226,228,230,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2007Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,1.000000e+10,NaN,2,320070724979
1,2007Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,1.000000e+10,NaN,2,320070725017
2,2007Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,2,1.000000e+10,NaN,2,320070724337
3,2007Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,320070725066
4,2007Q3,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,320070724336

In [5]:
Q4 = pd.read_csv('2007Q4_Base.csv', index_col = 0)
Q4.head()

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,5,6,7,8,9,10,11,15,16,18,19,25,26,27,29,30,67,68,72,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,95,98,101,104,107,110,168,169,170,171,172,173,174,175,176,178,179,180,181,182,186,187,188,189,190,191,192,193,194,195,196,198,200,202,204,206,208,210,211,212,213,222,224,226,228,230,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2007Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,1.000000e+10,NaN,2,420070000195
1,2007Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,2,1.000000e+10,NaN,2,420070000819
2,2007Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,1.000000e+10,NaN,2,420070000781
3,2007Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,1.000000e+10,NaN,2,420070000776
4,2007Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,420070000732

In [6]:
Y2007 = pd.concat([Q1, Q2, Q3, Q4], sort = False)
Y2007.head()

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2006Q4,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,1.000000e+10,NaN,2,420060826338
1,2007Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,120070000682
2,2007Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,120070000554
3,2007Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,120070000657
4,2007Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,1.000000e+10,NaN,2,120070000595

In [7]:
Y2007.tail()

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
734425,2007Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18,18,579,711,4,4,4.499097e+09,1.274842e+09,2,420070570927
734426,2007Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18,18,579,721,2,3,2.007423e+09,4.334773e+09,2,420070718305
734427,2007Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18,18,579,711,2,3,4.815236e+09,2.144271e+09,2,420070601694
734428,2007Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18,18,579,721,2,2,1.757841e+09,NaN,1,420070673491
734429,2007Q4,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18,18,579,711,3,4,1.295296e+09,8.034610e+09,2,420070601692

In [8]:
Y2007.shape

(2937770, 255)

In [9]:
print(Q1.shape[0] + Q2.shape[0] + Q3.shape[0] + Q4.shape[0])

2937770

In [10]:
start = time.time()
Y2007.to_csv('Base_07.csv')
end = time.time()
print(end - start)

358.0341954231262